﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-2.2.0.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Информационная безопасность", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Шифр Цезаря", "Index", "Caesar")</li>
                    <li>@Html.ActionLink("Аффинный шифр", "Index", "Affine")</li>
                    <li>@Html.ActionLink("Шифр простой перестановки", "Index", "SimplePermutation")</li>
                    <li>@Html.ActionLink("Шифр Хилла", "Index", "Hill")</li>
                    <li>@Html.ActionLink("Асинхронный потоковый шифр", "Index", "SincStream")</li>
                    <li>@Html.ActionLink("DES-ECB", "Index", "DESECB")</li>
                    <li>@Html.ActionLink("AES", "Index", "AES")</li>
                    <li>@Html.ActionLink("SHA-1", "Index", "SHA_1")</li>
                    <li>@Html.ActionLink("ECDSA", "Index", "ECDSA")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>