﻿
@{
    ViewBag.Title = "DES-ECB";
}

<h2>DES-ECB</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnEncrypt').click(function () {
            $.post(
                "/des-ecb/encryption",
                { open_message: $("#tbOpenMessage").val().toString(), key: $("#tbKey").val() },
                function (data) {

                    //alert(data);

                    var matrix = JSON.parse(data);

                    if (matrix[0] === 0) {
                        $("#tbEncMessage").val(matrix[1]);
                        $("#tbHexEncMessage").val(matrix[2]);
                        $("#tbBinEncMessage").val(matrix[3]);
                        $("#lbError").html('');
                    }

                    if (matrix[0] === -1) {
                        $("#lbError").html(matrix[1]);
                        $("#tbEncMessage").val('');
                    }

                }
            );
        });

        $('#bttnDecrypt').click(function () {
            $.post(
                "/des-ecb/decryption",
                { enc_message: $("#tbEncMessage").val().toString(), key: $("#tbKey").val() },
                function (data) {

                    var matrix = JSON.parse(data);

                    if (matrix[0] === 0) {
                        $("#tbOpenMessage").val(matrix[1]);
                        $("#lbError").html('');
                    }

                    if (matrix[0] === -1) {
                        $("#lbError").html(matrix[1]);
                        $("#tbOpenMessage").val('');
                    }

                }
            );
        });
    })

</script>

<form id="form_encription" action="/caesar/encription" method="post" style="width:300px; margin:0 auto;">
    <div class="col-md-12">
        <input class="form-control" id="tbOpenMessage" name="open_message" type="text" placeholder="Открытое сообщение" />
    </div>
    <div class="col-md-12">
        <input class="form-control" id="tbKey" name="key" type="text" placeholder="Ключ" />
    </div>
    <div class="col-md-12">
        <input class="form-control" id="tbEncMessage" name="enc_message" type="text" placeholder="Шифрограмма" />
    </div>

    <div class="col-md-12">
        <input class="form-control" id="tbHexEncMessage" name="enc_message" type="text" placeholder="Шифрограмма в 16-м виде" />
    </div>

    <div class="col-md-12">
        <input class="form-control" id="tbBinEncMessage" name="enc_message" type="text" placeholder="Шифрограмма в 2-м виде" />
    </div>

    <label class="control-label" id="lbError" style="font-size:small; color:red; text-align:center;"></label>
    <div class="col-md-12 text-center">
        <span style="text-align:center;">
            <input class="btn btn-primary" style="margin-top:10px;" id="bttnEncrypt" type="button" value="Зашифровать" />
            <input style="margin-top:10px;" class="btn btn-default" id="bttnDecrypt" type="button" value="Расшифровать" />
        </span>
    </div>
</form>