﻿@{
    ViewBag.Title = "ECDSA";
}

<h2>ECDSA</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnCreate').click(function () {
            $.ajax({
                url: "/ecdsa/dsa",
                dataType: 'json',
                method: 'POST',
                data: {
                    hash: $('#form_dsa #tbHash').val(),
                    a: $('#form_dsa #tbA').val(),
                    b: $('#form_dsa #tbB').val(),
                    n: $('#form_dsa #tbN').val()

                },
                success: function (data) {


                    $('#form_dsa #lbError').html(data['Error']);

                    if (!data['Error']) {

                        $('#form_verify #tbHash').val($('#form_dsa #tbHash').val());
                        $('#form_verify #tbA').val(data['Response'][0]['A']);
                        $('#form_verify #tbB').val(data['Response'][0]['B']);
                        $('#form_verify #tbN').val(data['Response'][0]['N']);
                        $('#form_verify #tbQ').val(data['Response'][0]['Q']);
                        $('#form_verify #tbPX').val(data['Response'][0]['PPoint']['X']);
                        $('#form_verify #tbPY').val(data['Response'][0]['PPoint']['Y']);
                        $('#form_verify #tbQX').val(data['Response'][0]['QPoint']['X']);
                        $('#form_verify #tbQY').val(data['Response'][0]['QPoint']['Y']);
                        $('#form_verify #tbR').val(data['Response'][1]["R"]);
                        $('#form_verify #tbS').val(data['Response'][1]['S']);
                    }

                }
            });
        });

        $('#bttnVerify').click(function () {
            $.ajax({
                url: "/ecdsa/verify",
                dataType: 'json',
                method: 'POST',
                data: {
                    hash: $('#form_verify #tbHash').val(),
                    a: $('#form_verify #tbA').val(),
                    b: $('#form_verify #tbB').val(),
                    n: $('#form_verify #tbN').val(),
                    q: $('#form_verify #tbQ').val(),
                    px: $('#form_verify #tbPX').val(),
                    py: $('#form_verify #tbPY').val(),
                    qx: $('#form_verify #tbQX').val(),
                    qy: $('#form_verify #tbQY').val(),
                    r: $('#form_verify #tbR').val(),
                    s: $('#form_verify #tbS').val()

                },
                success: function (data) {
                    alert(data.toString());
                }
            });
        });
    })

</script>

<div class="col-md-6">
    <form id="form_dsa" method="post" style="width: 300px; margin: 0 auto;">
        <div class="col-md-12 text-center">
            <h3>Создание ЭЦП</h3>
        </div>
        <div class="col-md-12">
            <input class="form-control" id="tbHash" name="open_message" type="number" placeholder="Хэш" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbA" name="key" type="number" placeholder="A" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbB" name="enc_message" type="number" placeholder="B" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbN" name="enc_message" type="number" placeholder="Модуль" />
        </div>

        <label class="control-label" id="lbError" style="font-size: small; color: red; text-align: center;"></label>
        <div class="col-md-12 text-center">
            <span style="text-align: center;">
                <input class="btn btn-primary" style="margin-top: 10px;" id="bttnCreate" type="button" value="Создание ЭЦП" />
            </span>
        </div>
    </form>
</div>

<div class="col-md-6">
    <form id="form_verify" method="post" style="width: 300px; margin: 0 auto;">
        <div class="col-md-12 text-center">
            <h3>Создание ЭЦП</h3>
        </div>
        <div class="col-md-12">
            <input class="form-control" id="tbHash" name="open_message" type="number" placeholder="Хэш" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbA" name="key" type="number" placeholder="A" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbB" name="enc_message" type="number" placeholder="B" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbN" name="enc_message" type="number" placeholder="Модуль" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbQ" name="open_message" type="number" placeholder="Q" />
        </div>
        <div class="col-md-12 text-center">
            <label>Точка P</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbPX" name="key" type="number" placeholder="X" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbPY" name="enc_message" type="number" placeholder="Y" />
        </div>
        <div class="col-md-12 text-center">
            <label>Точка Q</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbQX" name="enc_message" type="number" placeholder="X" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbQY" name="key" type="number" placeholder="Y" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbR" name="enc_message" type="number" placeholder="R" />
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbS" name="enc_message" type="number" placeholder="S" />
        </div>

        <label class="control-label" id="lbVerifyError" style="font-size: small; color: red; text-align: center;"></label>
        <div class="col-md-12 text-center">
            <span style="text-align: center;">
                <input class="btn btn-primary" style="margin-top: 10px;" id="bttnVerify" type="button" value="Верификация ЭЦП" />
            </span>
        </div>
    </form>
</div>