﻿
@{
    ViewBag.Title = "SHA-1";
}

<h2>SHA-1</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnGen').click(function () {
            $.post({
                url: "/sha-1/hash",
                data: { input: $("#tbInput").val() },
                success: function (data) {
                    $('#tbHash').val(data.toString());
                }
            });
        });


    })

</script>

<form id="form_encription" class="form-horizontal col-md-6 col-md-offset-3 text-center" action="/caesar/encription" method="post">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input class="form-control" id="tbInput" name="input" type="text" placeholder="Входящее вообщение" />
        </div>
        <div class="col-md-10 col-md-offset-1">
            <input type="text" class="form-control" placeholder="Хэш сообщения" id="tbHash" />
        </div>
        <label class="control-label" id="lbError" style="font-size:small; color:red; text-align:center;"></label>
        <div class="col-md-12 text-center">
            <span style="text-align:center;">
                <input class="btn btn-primary" style="margin-top:10px;" id="bttnGen" type="button" value="Хеширование" />
            </span>
        </div>
    </div>
</form>