﻿
@{
    ViewBag.Title = "BBS";
}

<h2>BBS</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnGenerate').click(function () {
            $.ajax({
                url: "/prng/bbs",
                dataType: 'json',
                method: 'POST',
                data: {
                    p: $('#form_bbs #tbP').val(),
                    q: $('#form_bbs #tbQ').val(),
                    l: $('#form_bbs #tbL').val()

                },
                success: function (data) {


                    $('#form_dsa #lbError').html(data['Error']);

                    if (!data['Error']) {

                        alert(data['Response']);
                        $('#form_bbs #tbResult').val(data['Response']);
                    }

                }
            });
        });      
    })

</script>

<div class="col-md-6 col-md-offset-3">
    <form id="form_bbs" method="post" style="margin: 0 auto;">
        <div class="col-md-12 text-center">
            <h3>Алгоритм Блюм-Блюм-Шуба</h3>
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbP" name="p" type="number" placeholder="Простое число p"/>
        </div>
        <div class="col-md-6">
            <input class="form-control" id="tbQ" name="q" type="number" placeholder="Простое число q"/>
        </div>
        <div class="col-md-12">
            <input class="form-control" id="tbL" name="l" type="number" placeholder="Длина результата в битах"/>
        </div>

        <div class="col-md-12">
            <input class="form-control" id="tbResult" name="result" type="text" placeholder="Сгенерированная последовательность битов" />
        </div>

        <label class="control-label" id="lbError" style="font-size: small; color: red; text-align: center;"></label>
        <div class="col-md-12 text-center">
            <span style="text-align: center;">
                <input class="btn btn-primary" style="margin-top: 10px;" id="bttnGenerate" type="button" value="Сгенерировать" />
            </span>
        </div>
    </form>
</div>

