﻿
@{
    ViewBag.Title = "Шифр Цезаря";
}

<h2>Шифр Цезаря</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnEncrypt').click(function () {
            $.post(
                "/caesar/encryption",
                { open_message: $("#tbOpenMessage").val().toString(), shift: $("#tbNumber").val() },
                function (data) {
                    $("#tbEncMessage").val(data);
                }
            );
        });

        $('#bttnDecrypt').click(function () {
            $.post(
                "/caesar/decryption",
                { enc_message: $("#tbEncMessage").val().toString(), shift: $("#tbNumber").val() },
                function (data) {
                    $("#tbOpenMessage").val(data);
                }
            );
        });
    })

</script>

<form id="form_encription" action="/caesar/encription" method="post" style=" width:300px; margin:0 auto;">
    <div class="col-md-12">
        <label class="control-label" style="text-align:left;" for="tbNumber"> Сдвиг: </label> <input class="form-control" id="tbNumber" name="shift" type="number" min="1" max="26" value="1" />
    </div>
    <div class="col-md-12">
        <input class="form-control" id="tbOpenMessage" name="open_message" type="text" placeholder="Открытое сообщение" pattern="[A-Za-z]" />
    </div>
    <div class="col-md-12">
        <input class="form-control" id="tbEncMessage" name="enc_message" type="text" placeholder="Шифрограмма" />
    </div>
    <label class="control-label" id="lbError" style="font-size:small; color:red; text-align:center;"></label>
    <div class="col-md-12 text-center">
        <span style="text-align:center;">
            <input class="btn btn-primary" style="margin-top:10px;" id="bttnEncrypt" type="button" value="Зашифровать" />
            <input style="margin-top:10px;" class="btn btn-default" id="bttnDecrypt" type="button" value="Расшифровать" />
        </span>
    </div>
</form>


