﻿
@{
    ViewBag.Title = "Шифр простой перестановки";
}

<h2>Шифр простой перестановки</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnEncrypt').click(function () {
            $.post(
                "/simplepermutation/encryption",
                { open_message: $("#tbOpenMessage").val().toString(), count_rows: $("#tbNumber").val() },
                function (data) {

                    var matrix = data.split('|');

                    if (matrix[0] === '0') {
                        $("#tbEncMessage").val(matrix[1]);
                        $("#lbError").html('');
                    }

                    if (matrix[0] === '-1') {
                        $("#lbError").html(matrix[1]);
                        $("#tbEncMessage").val('');
                    }
                }
            );
        });

        $('#bttnDecrypt').click(function () {
            $.post(
                "/simplepermutation/decryption",
                { enc_message: $("#tbEncMessage").val().toString(), count_rows: $("#tbNumber").val() },
                function (data) {

                    var matrix = data.split('|');

                    if (matrix[0] === '0') {
                        $("#tbOpenMessage").val(matrix[1]);
                        $("#lbError").html('');
                    }

                    if (matrix[0] === '-1') {
                        $("#lbError").html(matrix[1]);
                        $("#tbOpenMessage").val('');
                    }
                }
            );
        });
    })

</script>

<form id="form_encription" action="/caesar/encription" method="post" style=" width:300px; margin:0 auto;">
    <div class="col-md-12">
        <label class="control-label" style="text-align:left;" for="tbNumber">  Количество строк: </label> <input class="form-control" id="tbNumber" name="shift" type="number" min="1" max="26" value="1" />
    </div>
    <div class="col-md-12">
        <input class="form-control" id="tbOpenMessage" name="open_message" type="text" placeholder="Открытое сообщение" pattern="[A-Za-z]" />
    </div>
    <div class="col-md-12">
        <input class="form-control" id="tbEncMessage" name="enc_message" type="text" placeholder="Шифрограмма" />
    </div>
    <div class="col-md-12" style="text-align:center;">
        <label class="control-label" id="lbError" style="font-size:small; color:red;"></label>
    </div>
    <div class="col-md-12 text-center">
        <span style="text-align:center;">
            <input class="btn btn-primary" style="margin-top:10px;" id="bttnEncrypt" type="button" value="Зашифровать" />
            <input style="margin-top:10px;" class="btn btn-default" id="bttnDecrypt" type="button" value="Расшифровать" />
        </span>
    </div>
</form>


