﻿
@{
    ViewBag.Title = "AES";
}

<h2>AES</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bttnGen').click(function () {
            $.post({
                url: "/aes/generate-keys",
                data: { key: $("#tbKey").val(), size: $("#cbSize").val() },
                dataType: 'json',
                success: function (data) {
                    var matrix = data;
                    $('#tbKeys').val('');
                    $.each(data, function (key, val) {
                        $('#tbKeys').val($('#tbKeys').val() + key + ') ' + val + '\n');
                    });
                }
            });
        });


    })

</script>

<form id="form_encription" class="form-horizontal col-md-6 col-md-offset-3 text-center" action="/caesar/encription" method="post">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <input class="form-control" id="tbKey" name="key" type="text" placeholder="Ключ" />
        </div>
        <div class="col-md-8 col-md-offset-2">
            <select id="cbSize" class="form-control">
                <option value="128">128 бит</option>
                <option value="192">192 бит</option>
                @*<option value="256">256 бит</option>*@
            </select>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <textarea class="form-control" placeholder="Сгенерированные ключи" id="tbKeys" rows="16"></textarea>
        </div>
        <label class="control-label" id="lbError" style="font-size:small; color:red; text-align:center;"></label>
        <div class="col-md-12 text-center">
            <span style="text-align:center;">
                <input class="btn btn-primary" style="margin-top:10px;" id="bttnGen" type="button" value="Сгенерировать" />
            </span>
        </div>
    </div>
</form>